p{
    color: #6A5ACD;
    font-size: 50px;
    border-radius: 10px;
    background-color: #FF7F50;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    padding: 20px;
}

#time{
    color: #00FF7F;
    font-size: 50px;
    border-radius: 10px;
    background-color: #0000FF;

    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    padding: 20px;




}