{% extends "VD05_shablon.html" %}

{% block title %}
    {{caption}}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="photo">
            <img src="../static/image/Змея.png">
        </div>
        <div class="info">
            <h1>Алканафт</h1>
            <p>Алкоголизм — это психическая и физическая зависимость человека от приёма напитков,
                содержащих этанол. Они становятся необходимыми, так как помогают снимать психическое
                напряжение или улучшать физическое состояние, которое ухудшилось как раз из-за отмены
                или долгого неупотребления алкоголя.
            </p>
        </div>
    </div>

    <div class="container my-2">
        <div class="row">
            <div class="card my-2 mx-2" style="width:18rem;">
                <img src="../static/image/Foto1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>

             <div class="card my-2 mx-2" style="width: 18rem;">
                <img src="../static/image/Foto2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>

             <div class="card my-2 mx-2" style="width: 18rem;">
                <img src="../static/image/Foto3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>

             <div class="card my-2 mx-2" style="width: 18rem;">
                <img src="../static/image/Foto4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>

             <div class="card my-2 mx-2" style="width: 18rem;">
                <img src="../static/image/Foto5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Заголовок карточки</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">{{link}}</a>
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}