{% extends "DZ_VD05_shablon.html" %}

{% block title %}
Это страница с контактами
{% endblock %}


{% block content %}

   <div class="row">
       <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
           <div class="card mx-auto my-3" style="width:16rem; height:25rem; border-radius:35px; border-width:5px; border-color:#00FFFF;
           background-color:#FFA07A; color:#8B008B">
               <div class="card-body d-flex flex-column">
                   <img src="../static/image/card1.jpg" class="mx-auto"
                     style="width:80px; height:80px; object-fit:cover; border-radius:10px" alt="...">
                   <h4 class="card-title" style="text-align: center">Иванова Нина Михайловна</h4>
                   <hr>
                   <h2></h2>
                   <p class="card-text"> <strong>Тел.:</strong>  +7 (111) 023-45-56 <br>
                                         <strong>Telegram: </strong>https:/t.me/tg2456 <br>
                                         <strong>mail:</strong> fghdj@mail.ru <br>
                                         <strong> mail:</strong> wedgsg@gmail.com <br>
                   </p>
                   <a href="https://web.max.ru/" target="_blank" class="btn btn-primary mt-auto mx-auto"
                      style="color:#FFFF00; font-weight:600 ">Позвонить</a>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
           <div class="card mx-auto my-3" style="width:16rem; height:25rem; border-radius:35px; border-width:5px; border-color:#00FFFF;
           background-color:#FFA07A; color:#8B008B">
               <div class="card-body d-flex flex-column">
                   <img src="../static/image/card2.jpg" class="mx-auto"
                     style="width:80px; height:80px; object-fit:cover; border-radius:10px" alt="...">
                   <h4 class="card-title" style="text-align: center">Иванова Нина Михайловна</h4>
                   <hr>
                   <h2></h2>
                   <p class="card-text"> <strong>Тел.:</strong>  +7 (111) 023-45-56 <br>
                                         <strong>Telegram: </strong>https:/t.me/tg2456 <br>
                                         <strong>mail:</strong> fghdj@mail.ru <br>
                                         <strong> mail:</strong> wedgsg@gmail.com <br>
                   </p>
                   <a href="https://web.max.ru/" target="_blank" class="btn btn-primary mt-auto mx-auto"
                      style="color:#FFFF00; font-weight:600 ">Позвонить</a>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
           <div class="card mx-auto my-3" style="width:16rem; height:25rem; border-radius:35px; border-width:5px; border-color:#00FFFF;
           background-color:#FFA07A; color:#8B008B">
               <div class="card-body d-flex flex-column">
                   <img src="../static/image/Змея.png" class="mx-auto"
                     style="width:80px; height:80px; object-fit:cover; border-radius:10px" alt="...">
                   <h4 class="card-title" style="text-align: center">Иванова Нина Михайловна</h4>
                   <hr>
                   <h2></h2>
                   <p class="card-text"> <strong>Тел.:</strong>  +7 (111) 023-45-56 <br>
                                         <strong>Telegram: </strong>https:/t.me/tg2456 <br>
                                         <strong>mail:</strong> fghdj@mail.ru <br>
                                         <strong> mail:</strong> wedgsg@gmail.com <br>
                   </p>
                   <a href="https://web.max.ru/" target="_blank" class="btn btn-primary mt-auto mx-auto"
                      style="color:#FFFF00; font-weight:600 ">Позвонить</a>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
           <div class="card mx-auto my-3" style="width:16rem; height:25rem; border-radius:35px; border-width:5px; border-color:#00FFFF;
           background-color:#FFA07A; color:#8B008B">
               <div class="card-body d-flex flex-column">
                   <img src="../static/image/card4.jpg" class="mx-auto"
                     style="width:80px; height:80px; object-fit:cover; border-radius:10px" alt="...">
                   <h4 class="card-title" style="text-align: center">Иванова Нина Михайловна</h4>
                   <hr>
                   <h2></h2>
                   <p class="card-text"> <strong>Тел.:</strong>  +7 (111) 023-45-56 <br>
                                         <strong>Telegram: </strong>https:/t.me/tg2456 <br>
                                         <strong>mail:</strong> fghdj@mail.ru <br>
                                         <strong> mail:</strong> wedgsg@gmail.com <br>
                   </p>
                   <a href="https://web.max.ru/" target="_blank" class="btn btn-primary mt-auto mx-auto"
                      style="color:#FFFF00; font-weight:600 ">Позвонить</a>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
           <div class="card mx-auto my-3" style="width:16rem; height:25rem; border-radius:35px; border-width:5px; border-color:#00FFFF;
           background-color:#FFA07A; color:#8B008B">
               <div class="card-body d-flex flex-column">
                   <img src="../static/image/DZ_VD01(Ягодный_мусс).jpg" class="mx-auto"
                     style="width:80px; height:80px; object-fit:cover; border-radius:10px" alt="...">
                   <h4 class="card-title" style="text-align: center">Иванова Нина Михайловна</h4>
                   <hr>
                   <h2></h2>
                   <p class="card-text"> <strong>Тел.:</strong>  +7 (111) 023-45-56 <br>
                                         <strong>Telegram: </strong>https:/t.me/tg2456 <br>
                                         <strong>mail:</strong> fghdj@mail.ru <br>
                                         <strong> mail:</strong> wedgsg@gmail.com <br>
                   </p>
                   <a href="https://web.max.ru/" target="_blank" class="btn btn-primary mt-auto mx-auto"
                      style="color:#FFFF00; font-weight:600 ">Позвонить</a>
               </div>
           </div>
       </div>
       <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3 mb-sm-0">
           <div class="card mx-auto my-3" style="width:16rem; height:25rem; border-radius:35px; border-width:5px; border-color:#00FFFF;
           background-color:#FFA07A; color:#8B008B">
               <div class="card-body d-flex flex-column">
                   <img src="../static/image/Foto2.jpg" class="mx-auto"
                     style="width:80px; height:80px; object-fit:cover; border-radius:10px" alt="...">
                   <h4 class="card-title" style="text-align: center">Иванова Нина Михайловна</h4>
                   <hr>
                   <h2></h2>
                   <p class="card-text"> <strong>Тел.:</strong>  +7 (111) 023-45-56 <br>
                                         <strong>Telegram: </strong>https:/t.me/tg2456 <br>
                                         <strong>mail:</strong> fghdj@mail.ru <br>
                                         <strong> mail:</strong> wedgsg@gmail.com <br>
                   </p>
                   <a href="https://web.max.ru/" target="_blank" class="btn btn-primary mt-auto mx-auto"
                      style="color:#FFFF00; font-weight:600 ">Позвонить</a>
               </div>
           </div>
       </div>
    </div>


{% endblock %}

