{% extends "DZ_VD05_shablon.html" %}

{% block title %}
Это страница с блогом
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card m-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Узнай своего врага</h5>
                        <p class="card-text">Жизнь Эллисон наконец-то наладилась, но внезапно в ее жизни
                            случается трагедия: незнакомец, от которого ей чудом удалось спастись, убивает ее жениха.
                            Полиция арестовывает человека, которого они подозревают в убийстве, но несмотря на это Эллисон
                            не может успокоиться. Ее подозрения, что полиция арестовала не того человека, начинают оправдываться,
                            когда она знакомится с молодым человеком своей подруги.</p>
                    </div>
                    <img src="../static/image/Foto1.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card my-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Собачье счастье</h5>
                        <p class="card-text">Интеллигентный пойнтер Джек, меланхоличный мышастый дог, старый цирковой пудель Арто,
                            холёная левретка, такса и две дворняжки угодили в клетку. Животные умели разговаривать и быстро выяснили
                            у старого пуделя, что их везут на живодёрню. Всю дорогу они вели беседы о несправедливости жизни и ругали
                            людей.</p>
                    </div>
                    <img src="../static/image/Foto2.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card m-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Как жить</h5>
                        <p class="card-text">Даже когда обстоятельства пугают, помните: все как-нибудь устроится. Слишком часто мы
                            тратим силы на тревогу о том, что будет завтра, хотя это не приносит пользы. Достаточно взглянуть на
                            базовые вещи: есть еда, крыша над головой, работа — и значит, можно жить. Все остальное постепенно наладится.
                            Когда повторяешь себе «ничего, все сложится», появляется удивительное спокойствие и смелость попробовать
                            еще раз.</p>
                    </div>
                    <img src="../static/image/Foto3.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card m-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Что русскому хорошо, то немцу смерть</h5>
                        <p class="card-text">Эпоха Петра Первого оставила пословицу «Что для немца хорошо, то русскому смерть».
                            Смысл пословицы сохраняется и при обратном варианте. Попытки навязать стране чужой образ жизни рождали
                            такие пословицы. Г. Греф несколько раз говорил на различных форумах «когда забывал, что микрофон включен»,
                            что « В России внедряются древние эффективные еврейские технологии управления»</p>
                    </div>
                    <img src="../static/image/Foto4.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card m-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Про футбол</h5>
                        <p class="card-text">воскресенье в Москве «Ахмат» и «Динамо» в матче 12‑го тура МИР РПЛ сыграли вничью — 2:2.
                            На 36‑й минуте матча защитник «Ахмата» Максим Сидоров упал в штрафной площадке «Динамо» после контакта с Бителло.
                            Главный арбитр встречи Зияков не отреагировал на эпизод, но затем в дело вмешался VAR. После просмотра повтора судья
                            изменил решение и назначил пенальти. Капитан «Ахмата» Лечи Садулаев не реализовал 11‑метровый, ударив выше ворот.</p>
                    </div>
                    <img src="../static/image/Foto5.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card m-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Кому на Руси жить хорошо</h5>
                        <p class="card-text">«Кому на Руси жить хорошо» стилизована под русский фольклор. Это своего рода энциклопедия или
                            «полное собрание» жанров народной поэзии — от малых (пословицы, поговорки, загадки и др. — подсчитано, что таких
                            вкраплений в поэме больше ста) до самых крупных (былина, сказка, легенда, историческая песня). В части «Крестьянка»,
                            самой «фольклоризованной» в поэме, есть прямые, лишь слегка адаптированные заимствования из народных песен. </p>
                    </div>
                    <img src="../static/image/Foto6.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-0">
            <div class="card m-2">
                <div class="card-body d-flex justify-content-end align-items-end">
                    <div>
                        <h5 class="card-title text-center">Красота спасет мир</h5>
                        <p class="card-text">Достоевский предлагал толковать эту фразу о силе внутренней красоты. По его мнению, мир спасёт лучшее,
                            что есть в людях: когда они будут руководствоваться добром в душе, памяти и намерениях, то будут по-настоящему
                            прекрасны.</p>
                    </div>
                    <img src="../static/image/Foto7.jpg" class="ms-2"
                     style="width:80px; height:80px; object-fit:cover; border-radius:40px" alt="...">
                </div>
            </div>
        </div>



{% endblock %}