.card{
    width: 400px;
    height: 550px;
    background-color: #20B2AA;
    border-radius: 60px;
}

.photo{
    height: 30%;
}

img{
    left: 100px;
    margin-top: 40px;
}

.info{
    padding: 40px;
    height: 40%;
}

.caption1{
    color:red;
    background-color:yellow
}